body {
  background-image: url("/textures/metal-1.jpg");
  background-position: center;
  background-size: cover;
  /* set the best widht quality */
}

.inset-shadow {
  @apply relative z-20 overflow-hidden border border-black border-solid rounded-lg;
}

.inset-shadow:before {
  z-index: 1000;
  content: "";
  box-shadow: inset 0px 0px 10px rgb(149, 149, 149);
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
